name: Build and Publish

on:
  pull_request:
    branches: [ develop ]
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm i

      - name: Install Rocket.Chat Apps cli
        run: npm i -g @rocket.chat/apps-cli

      - name: Bundle App
        run: rc-apps package

      - name: Upload App Package
        uses: actions/upload-artifact@v4
        with:
          name: rocket-poker-app
          path: dist/*.zip
          if-no-files-found: error